[2019-05-01 09:11] abko opened #1 "Main sync for other then main Zone"
Hello @NorthernMan54, thanks for another great implementation!

Would it be possible to include a Main zone sync input for secondary zones?

When I switch to main zone sync via the Yamaha app and open the Home app I get the following log. I guess support for Main zone input would also resolved that.

`yamaha-zone-tv getActiveIdentifier Input Zone_2 Main Zone Sync +12ms
Unhandled rejection TypeErro

[2019-05-02 00:16] NorthernMan54 commented on #1
I guessed and I think this will fix it, update to version v0.1.8

[2019-05-02 05:56] abko commented on #1
@NorthernMan54 Thanks, I did a quick test before going to work, will look into it again this evening.

I noticed the 2nd zone TV does not have the inputs any longer and a new item called Main Zone Sync appears, displaying On all the time. No option to change it. Maybe I need a better look to understand the behaviour.

Would it be possible to have Main zone sync as an additional input on secondary

[2019-05-02 10:51] NorthernMan54 commented on #1
@abko thinking about this further, and as main zone sync is not a feature of my receiver I won’t be able to do more with this.  As I don’t have the ability look at how it works and test it, I’m stuck.

In my receiver, the similar feature is called Party Mode, and once you turn this on, all inputs change to say the same input as the main.

[2019-05-02 11:25] abko commented on #1
Ok. Guess main zone sync is a refined version of Party mode when having more than two zones. Main zone sync is presented as just another input in the Yamaha app, but apparently not advertised by the software like that.
Advantage of an input is that I can create a HomeKit Scene that forces the input to main zone sync. With the party mode implementation I guess that’s not possible.
Anyway this eveni

[2019-05-02 11:35] NorthernMan54 commented on #1
In learning something new, having something to motivate yourself is good.

Sent from my iPad

[2019-05-02 19:28] abko commented on #1
Agree, I have to find the time and the right order to pick up things.

About Party mode, on my RX-A3060 it plays the input selected in the main zone on all zones, but also on all surround speakers in the main zone, so for example stereo input is played via all speakers. With main zone sync on a secondary zone the main zone remains in its original format.

I played a little bit with values for main

[2019-05-03 01:26] NorthernMan54 commented on #1
The values in util.js don’t really do anything.  I had to add the "main zone sync” to file, as the code looks up the input returned from the receiver and uses the data for display in the home app.  The only one that matters is Identifier, which is just a unique number. The other values don’t do anything.

[2019-05-03 10:57] NorthernMan54 commented on #1
I went and read the manual for your receiver and how main zone sync works, and I think I need to explain a couple of limitations in the plugin which make things easier to understand the behavior.

First the list of available inputs are hard coded in the plugin itself, when I pulled this together I couldn’t find how to pull the list, so just grabbed what my receiver supported.  This is the list in

[2019-05-03 11:53] abko commented on #1
Thanks. I did some more attempts and believe whether or not the input is populated dependants on having the Home app active or not and the state of the receiver, when starting Homebridge.

I did not find the exact logic, but when I kill the Home app, start Homebridge it seems to work as expected.

In my local copy I added the following condition to the forEach loop that populates the inputs:
`if (

[2019-05-03 13:00] NorthernMan54 commented on #1
A pull request would be very much appreciated.

[2019-05-04 08:51] abko commented on #1
@NorthernMan54 I am starting to look into how to copy my fork to my local machine, test it etc. I have a local copy that works. I also implemented my idea of using pause/play to mute/unmute:

[code]

Sorry for the novice questions, but in order to test my fork I need to use place it in my global node modules folder and sync it with GitHub from there right, right?

Note it will probably be tomorrow

[2019-05-04 12:50] NorthernMan54 commented on #1
In my setup, I clone the git repo to my desktop, do my coding and tell homebridge to look in the directory.  See this for how

https://github.com/nfarina/homebridge#plugin-development

I then publish it to GitHub when done and tested.

In regards to device names, the Home app supports being able to edit them.  The only thing is that I didn't enable storage of the edited names, so restarting homebr

[2019-05-05 16:29] abko commented on #1
Thanks. I did the changes and created a Pull Request. Hope I did it all correct.

I also started to look into detecting inputs automatically. I found Yamaha.getAvailableSources in yamaha-nodejs. It only lists the physical inputs and is sharing the input names, not the titles. It is using yamaha.getSystemConfig.

I believe that function returns all that is needed. I was thinking of creating an arra

[2019-05-05 21:36] NorthernMan54 commented on #1
That looks really good.  When I had added inputs I must have missed that function's availability.   I would gladly take a pull request with this feature.

[2019-05-05 21:41] NorthernMan54 commented on #1
Also, I added yourself as a collaborator on the repo as well.  You should be able to now publish directly

[2019-05-06 06:44] abko commented on #1
Thanks. I better do my homework right, not to break anything :-). I'll keep you posted on my progress.

[2019-05-08 11:00] abko commented on #1
Hello @NorthernMan54, I have finished my first iteration of attempting auto detection of inputs. I pushed it to my Fork.

I mainly replaced util.Inputs with a new array inputs that uses the same format you created for util.Inputs. I am populating it upfront based on the responses from the earlier shared XML.

Unfortunately some of the returned Inputs/ Features don't follow the same naming as requi

[2019-05-08 23:43] NorthernMan54 commented on #1
@abko As long as it works, I have no concerns for what your changing ;-)

Your approach sounds really good, and should be fine.  With the coding of this plugin, please keep in mind that I'm just like you and only have my personal receiver to test with, so it is a bit of trial and error.  And if a problems occur with another receiver/user, they will raise an issue.

And please include you name in t

[2019-05-09 17:16] abko commented on #1
Great. I'll work on it. I guess I should bump the version in package.json. I noticed earlier my local package.json has other dependency values than your version. Should I just use it as is or simply use your version with a bumped version number?

[2019-05-09 19:03] NorthernMan54 commented on #1
My NPM publish script does this automagically

[2019-05-15 19:43] CooperCGN opened #4 "Question: Syntax for zone_controllers_only_for parameter"
Sorry to bother, but what is the syntax for the zone_controllers_only_for parameter if I just want the main zone to be exposed to HomeKit?
I assume it’s something like “zone_controllers_only_for”: main

[2019-05-15 22:26] NorthernMan54 commented on #4
I looked at the code, and I never implemented this function which I copied the over plugin over as a base.   I have since fixed this.  To find the name, when you run the code it will log the zone names “Adding TV Control for”.  Just use that/

                        if (this.zoneControllersOnlyFor == null || this.zoneControllersOnlyFor.includes(zoneName)) {
                          this.log("Add

[2019-05-22 16:07] ajd394 opened #5 "Cannot add a Service with the same UUID and subtype as another Service in this Accessory."
Any thoughts as to why i might be getting this error? my platform config is simply:
`"platforms": [{ "platform": "yamaha-zone-tv", "max_volume": 10 }`

[2019-05-22 22:43] NorthernMan54 commented on #5
The error is from the adding of inputs, and a duplicatecan you run homebridge again in DEBUG mode? ie

DEBUG=* homebridge

And share the log, it will give more detail

[2019-05-25 13:12] abko commented on #5
@ajd394 The plugin attempts to automatically fetch the available inputs for each zone from the receiver.
The input names and zones are assumed to have a unique name.

My suspicion is that either the code is not able to fetch the inputs for your kind of receiver or either inputs or zone names are not unique.

In the log you should see entries like for each input for all zones.
`yamaha-zone-tv Addin

[2019-05-25 14:37] #1 closed

[2019-05-25 14:54] ajd394 commented on #5
below is the output after running with debug on. It seems as if the error is happening after it attemps to add a second "TUNER" zone.

`May 25 10:51:24 raspberrypi systemd[1]: Started Node.js HomeKit Server.
May 25 10:51:26 raspberrypi homebridge[27698]: [5/25/2019, 10:51:26 AM] Loaded config.json with 0 accessories and 1 platforms.
May 25 10:51:26 raspberrypi homebridge[27698]: [5/25/2019, 10:51:

[2019-05-25 15:04] abko commented on #5
I think I notice what is going wrong. For your receiver "Tuner" is both shown in the Feature list and in the "Inputs" list. For mine I believe it's only there in the Inputs list.
The code needs some new logic to only add a new input if it does not already exist.
I'll do some thinking about it and see if I can find some time to fix it.

[code]

[code]

[2019-05-25 16:58] abko commented on #5
I noticed you created a fork already. I made a quick fix, maybe you can test it in your fork.

Where the inputs are added I added this condition. It should replace line 132 + 133 and 160 + 161

[code]

[2019-05-30 06:01] CooperCGN commented on #5
@abko I am running into the same issue, I edited the two files and applied your changes and restarted homebridge but at some point the same error pops up. I have my log attached as file.

[log.txt](https://github.com/NorthernMan54/homebridge-yamaha-zone-tv/files/3235604/log.txt)

[2019-05-30 08:48] abko commented on #5
I miss the 'already exist' logs in your log file. Are you sure you used the code as in my fork as is?

It seems to fail at the end of adding inputs for the 2nd zone. The only difference for the 2nd zone is that I add 'Main Zone Sync' as an input.

The error pops up if an input with the same name is added a second time. Previously for @ajd394 this happened since Tuner was attempted to be added twic

[2019-05-30 10:43] CooperCGN commented on #5
Seems that some dependencies had to be updated as now the "is unique" is shwowing up. As I am no real coder I will attach the log again. You definitely know better what to look for :)
[log.txt](https://github.com/NorthernMan54/homebridge-yamaha-zone-tv/files/3236618/log.txt)

[2019-05-30 17:11] abko commented on #5
@CooperCGN I don't see 'already exist' entries, also the log seems to be incomplete. The part of the crash is not included.
When you adjusted your local copy, did you do both changes, as visible [here](https://github.com/abko/homebridge-yamaha-zone-tv/commit/63d5e3a98e68c9949e697102957c6926e3c85907)?

[2019-06-02 11:21] CooperCGN commented on #5
I copy/pasted exactly as visible, checked twice. I have no idea what happens here with my Pi, as soon as I add your additional debug command the output of the log stops at that position. I will investigate a bit further and hope I find a way to get the correct error log.

[2019-06-02 11:23] abko commented on #5
The extra debug is generating a lot of logging. I’ll have a look if I can make it a bit better and give you an update within an hour or so.

[2019-06-02 12:09] abko commented on #5
@CooperCGN I might have found the cause, although I can't check it with my setup. You can use my latest version, or duplicate the changes in your fork to test:
[Latest changes](https://github.com/abko/homebridge-yamaha-zone-tv/commit/2666508fe0d0eaf2ca9a22419aa40318ab859fe3
)

I checked for duplicate input names between the Feature and Input list reported by the Amplifier using the Title for each

[2019-06-03 07:18] CooperCGN commented on #5
@abko just tried but the problem still exists. Attached the recent log. From what I can see it seems to be related to some input named "SERVER"
[log.txt](https://github.com/NorthernMan54/homebridge-yamaha-zone-tv/files/3246301/log.txt)

[2019-06-03 07:24] abko commented on #5
I’ll have a look this evening after work (Amsterdam timezone).

[2019-06-03 08:10] abko commented on #5
@CooperCGN I had  a quick look, I don't see 'already exist' entries.
Can you use my fork as is, by taking a clone into your setup?

[2019-06-03 17:38] abko commented on #5
I tried to simulate your situation and bumped into some strange behaviour when trying to detect duplicate inputs. I believe I fixed it. Can you check the latest version from my fork, e.g. by cloning it into your setup?
[myfork is here](https://github.com/abko/homebridge-yamaha-zone-tv.git)

[2019-06-04 09:02] CooperCGN commented on #5
I won’t be able to test it before tomorrow but will let you know as soon as possible.

[2019-06-05 05:09] CooperCGN commented on #5
Now the "already exists" debug info shows up but then the debug output keeps hanging. I tried a few restarts but it is always at the same point. systemctl status says it is still running.
[log.txt](https://github.com/NorthernMan54/homebridge-yamaha-zone-tv/files/3255579/log.txt)

[2019-06-05 06:39] abko commented on #5
This is how it is supposed to work. Each Zone is represented as a Television. @NorthernMan54 might be able to give some more background.
I did a tiny fix for the NET SERVER. You can patch your version from my fork.
Not sure why the log holds. I can't reproduce that.

[2019-06-05 07:09] CooperCGN commented on #5
So it is correct that I don’t have to add the bridge to my home but instead directly connect to the accessories?

[2019-06-05 08:12] CooperCGN commented on #5
Added that line for NET RADIO but now run into this

[code]

[2019-06-05 08:42] abko commented on #5
Hmmm, I’ll have another look this evening. Sorry for all trial and error. It’s a bit of a challenge each receiver responds differently, and these things don’t pop up on my setup.

[2019-06-05 09:06] CooperCGN commented on #5
Oh, actually I feel bad for bothering you with this :)

[2019-06-05 09:09] abko commented on #5
No worries. I am not experienced in JavaScript and using this to get more familiar with that as well as with open source development in general.
I am sure we will find a fix soon that works.

[2019-06-05 16:38] abko commented on #5
@CooperCGN One more attempt. I have good hope it should be right this time ... Check out the latest update in my fork ;-)

[2019-06-06 04:30] CooperCGN commented on #5
@abko  It works! :)
The only two things that do not work is the two inputs DAB and MusicCast Link (both of them not using anyway). DAB as working input might be available anyway only if the AVR actually receives any program, I don't know how Yamaha is handling this.

Now I wonder, can you please check with your local configuration if you turn the receiver on or off with the remote control, is that

[2019-06-06 08:22] abko commented on #5
Great, finally :-)

My amp does not have DAB, and I am also not using MusicCast link. I'll have a look in the code later if there is something off in the naming that makes it not work. Do you mean with not working that it's not visible as an input, or that the Receiver does not change the input when selecting these inputs. Note that you can manually add inputs via the settings of the Zone in case

[2019-06-06 08:32] CooperCGN commented on #5
Mine has DAB built in but I think there is no explicit input for that, rather I think that it is actually the same as Tuner, but I don’t know for sure how this works.
MusicCast has an Input I can select from the Yamaha on screen menu.

[2019-06-06 08:39] abko commented on #5
MusicCast link is visible in your Zone inputs, right (at least in the screenshot above)?

In the Feature list for your AMP, DAB is listed, by marked as disabled:

Otherwise the plugin would add it as input.

[2019-06-06 08:47] CooperCGN commented on #5
See the screenshot, it shows DAB and MusicCast, maybe it is disabled because I have no antenna connected? No idea how this works and I never worried about DAB because I use NET RADIO.
![CF65E144-D4FB-4B77-BFEF-3DA59154BFC2](https://user-images.githubusercontent.com/29116509/59019440-5e24be80-8848-11e9-9734-7d70f095f6f0.jpeg)

[2019-06-06 08:54] CooperCGN commented on #5
My accessories only update after closing and opening the home app again. Do yours update while it is open?

[2019-06-06 10:25] NorthernMan54 commented on #5
Real time status updates is not a feature of plugin, sorry.

Sent from my iPad

[2019-06-06 11:18] abko commented on #5
I never realized that. Do you think it will be hard? Maybe I’ll find some time to look into it.

[2019-06-06 11:36] NorthernMan54 commented on #5
As the Yamaha api does not emit changes, you have to poll the stereo for status, which is very noisy on the network, and it would still lag.  Do able, but is it worth it?

For my use case, I never use the remote so I have never noticed it.

Sent from my iPad

[2019-06-06 12:20] CooperCGN commented on #5
@abko
The homebridge plugin for LG webOS TVs does this. It is also using the HomeKit TV accessory. I have it running with a polling interval of 10 seconds which is absolutely fine.
https://github.com/merdok/homebridge-webos-tv

[2019-06-06 17:32] abko commented on #5
@CooperCGN Sounds great. I guess the right thing is to raise it as a separate issue. I am close to going on a holiday, so won't be able to look into it, maybe some day in future. There might be others willing to pick it up.

[2019-06-06 17:37] abko commented on #5
@NorthernMan54 I created and accepted a pull request for these recent changes I did on my Fork. Did I do everything correct or should I have updated the version as well? I am also not familiar with the npm steps. Let me know if I can contribute to that part too. When all is in place and correct I will close this issue.

[2019-06-06 17:53] NorthernMan54 commented on #5
Let me review, then I will publish to npm.  My publish script updates the version number.

[2019-06-07 19:39] NorthernMan54 commented on #5
I just published this on NPM as the main version  v0.1.12

[2019-06-10 13:17] abko commented on #5
@NorthernMan54 Thanks. I was a few days away, hence to late response :-)
I'll close this issue now!

[2019-06-10 13:17] #5 closed

[2019-06-16 01:53] ajd394 commented on #5
tested out the fix and it work great! thank you guys for you efforts!

[2019-06-18 04:06] moibensa opened #7 "Error on startup"

[2019-06-18 23:13] #7 closed

[2019-07-29 06:20] nvdokh opened #8 "Remove party mode switch"
Can I remove party mode switch? I just want my zones to be shown and nothing else.

[2019-07-29 12:26] NorthernMan54 commented on #8
Nope, just move it to room you don’t use.

[2019-08-16 03:21] alexargo opened #9 "Issue with two Yamaha AVRs"
I have two Yamaha TSR-7850s(Hey... they were on sale at Costco.....) and am getting the following error when trying to boot up home bridge:

This puts things in a bad state ends up crashing home bridge

[code]

[2019-08-16 10:32] NorthernMan54 commented on #9
Great score

As I don’t have 2 receivers to test this with, going to need some help triaging and testing.

Looking at the log, thanks, it appears to be crashing due to duplicate names.  Are your devices and zones using unique names between both units?

[2019-08-17 03:39] alexargo commented on #9
I actually thought it might be some kind of name collision and tried changing their names and still got the same issue. Nothing is called "MainY". On 'Basement' (Name of Receiver), I have 'Main' and 'Zone 2'. On 'Patio' (Name of Receiver), I changed the Zone names to "Covered Patio" and "Pool Area". The log from above is actually from after I changed the names. Is it possible there is some type of

[2019-08-17 03:58] NorthernMan54 commented on #9
Let me add more specific logging, give me a day or 2

[2019-08-20 01:29] NorthernMan54 commented on #9
If you can run the plugin in debug mode, it should log a lot more details around the issue

[code]

And share the output log file, it should give a clue into the name issue.

[2019-08-22 20:41] alexargo commented on #9
Here's the log file... hopefully it makes sense to you. :) [homebridge-yamaha-zone-tv.log](https://github.com/NorthernMan54/homebridge-yamaha-zone-tv/files/3531852/homebridge-yamaha-zone-tv.log)

[2019-08-23 01:56] NorthernMan54 commented on #9
It did make perfect sense, please update and try again.  I don’t have 2 receivers to test with so am not sure if this worked or made things worse.  If it didn’t please include another DEBUG log.

Tks

[2019-08-23 04:28] alexargo commented on #9
Here's the log with the new version. Of note, it doesn't seem to be picking up the new names I've given the zones, (just using Main and Zone2) even though I've changed them in the Yamaha app.
[homebridge-yamaha-zone-tv-2.log](https://github.com/NorthernMan54/homebridge-yamaha-zone-tv/files/3532813/homebridge-yamaha-zone-tv-2.log)

[2019-08-26 21:50] dloxo opened #10 "Accessory for the main zone does not respond and does not have an input list."
Accessory for the main zone does not respond and does not have an input list.

**Here is the config json:**
         {
            "platform": "yamaha-zone-tv",
            "discovery_timeout": 30,
            "max_volume": 10,
            "zone_controllers_only_for": "Main"
        }

**Here is the relevant log portion on startup:**
[8/26/2019, 2:27:20 PM] [yamaha-zone-tv] Initializing yamaha-zon

[2019-08-29 00:18] NorthernMan54 commented on #10
Can you share a DEBUG log ?  ie

DEBUG=* homebridge

It should log the details of your receiver including why it thinks your receiver has no Inputs

[2019-08-29 17:28] dloxo commented on #10
Sorry, something else is going on with my Docker install.

[2019-08-29 17:28] #10 closed

[2019-09-10 00:07] NorthernMan54 commented on #9
Sorry I got tied with work for a few weeks, but I made a small change and it should fix the issue.  Please update and try again.

[2019-09-10 16:06] alexargo commented on #9
I don't know why you are apologizing. You aren't getting paid for this at all. Looks like it shows up as a HomeKit accessory and I can do stuff with it. I still get some error in my log about the inputs but no big deal.

[2019-09-10 16:06] #9 closed

[2019-09-16 12:25] qelanhari commented on #10
I have the same issue with an A2020 :

`
{
  "YAMAHA_AV": {
    "$": {
      "rsp": "GET",
      "RC": "0"
    },
    "Main_Zone": [
      {
        "Basic_Status": [
          {
            "Power_Control": [
              {
                "Power": [
                  "On"
                ],
                "Sleep": [
                  "Off"
                ]
              }
            ],

[2019-09-16 12:53] qelanhari commented on #10
You're just missing a `.bind(this)` L422

[2019-09-16 13:22] NorthernMan54 commented on #10
Could you make a pull request with this, and I will publish.

I don’t have access to my receiver for a few weeks, and can’t test any changes.

[2019-09-16 13:23] qelanhari commented on #10
Yep, I was planning to. But for now I'm trying to find out why I do not have the Speaker service to set the volume.

[2019-09-24 21:35] kinkawe opened #11 "Yama avr3080"
Hi,
I'm getting this error using this plugin for a yamaha avr 3080

Sep 24 21:32:08 raspberrypi homebridge[28897]: [9/24/2019, 9:32:08 PM] [yamaha-zone-tv] Possible Yamaha device discovered HP Color LaserJet MFP M477fdw (A7BE08) [ '192.168.1.63', 'fe80::9653:30ff:fe69:73f3' ]
Sep 24 21:32:08 raspberrypi homebridge[28897]: [9/24/2019, 9:32:08 PM] [yamaha-zone-tv] Possible Yamaha device discovered R

[2019-09-27 00:03] NorthernMan54 commented on #11
I created a fix for what I think the issue is, but I don’t know for sure as I don’t have access to my receiver now.  Can you update to the latest, and try again.

If it still has issues, please include a DEBUG log as well this time as it will give more details.

Tks

[2019-09-27 17:01] kinkawe commented on #11
Hi,
Thanks for looking into this.  See the debug log attached.

[homebridge_upload.debug.txt](https://github.com/NorthernMan54/homebridge-yamaha-zone-tv/files/3663834/homebridge_upload.debug.txt)

[2019-09-28 02:51] NorthernMan54 commented on #11
I'm just heading out on a vacation, and won't be back for about 3 weeks.  One question though, does the plugin still work with the error?

[2019-09-28 12:48] kinkawe commented on #11
No - unfortunately.  Have a great break!

[2019-10-07 01:10] moibensa opened #12 "No Response"
I’ve been using this plugin for a while now without any problems. I recently updated homebridge and all of my plugins. Had to end up removing homebridge entirely and setting it up from scratch. I got everything to work except this plugin. I’ve removed it and added it again over and over changing homebridge username, restarting homebridge, removing persist and accessories folders- nothing works. Al

[2019-10-07 01:31] moibensa commented on #12
Here’s the err log:
Mon, 07 Oct 2019 01:17:02 GMT Accessory [LivingY] Setting Characteristic "Active" to value 1
2019-10-07T01:17:02.833Z yamaha-zone-tv setActive Main_Zone 1
Mon, 07 Oct 2019 01:17:02 GMT Accessory [LivingY] Setting Characteristic "Active Identifier" to value 2
2019-10-07T01:17:02.838Z yamaha-zone-tv setActiveIdentifier => setNewValue:  Main_Zone 2
[10/6/2019, 9:17:02 PM] TypeErro

[2019-10-07 01:43] moibensa commented on #12
And this happens when I force touch on the zone:
![A6858290-77C4-4A66-9689-3C170D4D206E](https://user-images.githubusercontent.com/29363115/66279952-4b67d800-e882-11e9-89cb-61909b967e80.jpeg)

[2019-10-07 07:58] NorthernMan54 commented on #12
Okay, let me take a look at this

[2019-10-13 17:09] itsdbeau opened #13 "Auto discover"
Can you enable manual addresses? auto discover will not work.

[2019-10-18 00:45] NorthernMan54 commented on #13
Sorry, manual addresses are not supported

[2019-10-19 14:01] #13 closed

[2019-10-20 13:05] #8 closed

[2019-10-20 13:36] NorthernMan54 commented on #12
This should now be resolved, please update and try again

[2019-10-24 08:17] kinkawe commented on #11
Hi - thanks!  I've updated and the errors are gone.  Still testing and will let you know if all is sorted.

[2019-10-29 17:13] kinkawe commented on #11
Hi - not had any issues since the fix went in.  Many thanks for resolving!

[2020-01-04 14:22] #12 closed

[2020-04-14 22:17] #4 closed

[2020-04-28 23:29] NorthernMan54 opened #15 "Homebridge 1.0.0 and yamaha-zone-tv"
One of your plugins incorrectly registered an external accessory using the platform name (yamaha-zone-tv) and not the plugin identifier. Please report this to the developer!
[4/28/2020, 5:20:58 PM] A platform configure a new accessory under the plugin name 'yamaha-zone-tv'. However no loaded plugin could be found for the name!

[2020-05-12 01:06] julienma commented on #15
Got same issue. @NorthernMan54 do you know any known workaround in the meantime?
Thanks

[2020-05-12 02:39] NorthernMan54 commented on #15
This is just a warning and can be ignored

[2020-05-12 08:05] julienma commented on #15
Ok, thanks!

[2020-06-06 13:40] strandbein opened #16 "streaming presets"
It would be great if the 40 streaming presets could be read as well. Can that be done?

[2020-06-07 13:30] NorthernMan54 commented on #16
If you want to add that as a feature, a pull request would be accepted

[2020-06-23 20:54] BarnicleFiend opened #17 "Volume Controls"
Is there a trick to getting the volume controls to show?

I’ve got both zones showing as television accessories with inputs, power & remote + separate switches for main power and party mode. No volume controls though...

I’ve got a basic config with no errors showing in the log.

[2020-06-23 21:51] NorthernMan54 commented on #17
This is Apple's great idea for how a TV should be controlled, the volume controls are part of the remote app on your phone.

if you have a different approach, my other yahama plugin creates a Fan with the volume being fan speed.

[2020-07-22 18:32] nitaybz opened #18 "Party mode switch is not working + error"
Hey, thanks for this awesome plugin!
first of all I wonder if it's possible to remove party mode, not sure what it does and I really want to remove it as it don't work and return the following error in the logs:

[code]

Please assist

[2020-07-23 02:24] NorthernMan54 commented on #18
In my receiver ‘Party Mode’ sets all zones to the same input, and enables all speakers.   I guess yours doesn’t support it.

Let me see what I can do to stop the issue or make the party mode an option.

[2020-07-26 13:05] nitaybz commented on #18
Thanks for the positive response :)
Do you need a PR from me? Also I noticed a few other small bugs, I'll open a different issue for that.

[2020-07-26 13:06] nitaybz commented on #17
Why not involving a fan as a feature to control the volume instead of having to get another plugin for that part?

[2020-07-26 13:14] nitaybz opened #19 "External switches removed and re-added on every restart."
The main power switch and the party switch always goes back to the default Home settings. I'll explain:
I've configured through Home app to show as a separate tiles, moved them a room and set them as non favorite. Every time homebridge restarts all the settings goes back to normal, accessories are grouped again and back to their default room with their original name if it's changed.

The same beha

[2020-07-26 13:15] NorthernMan54 commented on #17
@nitaybz That's what my other Yamaha plugin does "homebridge-yamaha-home".  I had built Yamaha-zone-tz to see how a TV accessory would work with my stereo, but I don't actually use it as I prefer the user experience of the "Fan" control more.

And to be perfectly honest I just Alexa for the interface these days, are rarely pull out the home app.

[2020-07-26 13:16] NorthernMan54 commented on #18
A PR is great

[2020-07-26 13:18] nitaybz opened #20 "Current volume is not in sync with the receiver"
I noticed that if I change the volume in the remote and than change it from the plugin, the plugin will remember its last state and not make the change relative to the current state of the receiver.

That could be easily fix by setting properly the get function of the volume characteristic to be updated with the current AVR state.

[2020-07-26 13:22] nitaybz commented on #17
This plugin is great and feel more natural in control, and soon to have its own audio receiver icon if you set the proper category of the device. But you are most definitely right about the fan control which is essential, but I would just leave it for volume where 0 is mute and not turn off the machine, all of that can be part of one great plugin.

I'll try to invest in a big PR if you don't mind

[2020-07-26 13:34] NorthernMan54 commented on #20
A better approach than implementing the get event is to create a status refresh function and have it fire regularly and update the current volume.  That way the Home app will change automatically without touching the app.

Personally I never use the remote, as the receiver is sitting in a cupboard

[2020-07-31 01:24] moibensa opened #22 "Issue with 0.1.19 and Inputs with Custom Names"
Great update overall.
Having some issues with custom input names. Previously with 0.1.18 and before Inputs with custom names like ‘Apple TV’ could be set from the input wheel. With the recent version the zone names of the current zone are read correctly from the receiver but I cannot set the input to any custom named input. I can set it to Airplay or SERVER or AV5 but not to ‘Apple TV’

[2020-07-31 03:27] NorthernMan54 commented on #22
@nitaybz any thoughts?

[2020-07-31 04:50] nitaybz commented on #22
I'll fix it...

[2020-07-31 05:37] nitaybz commented on #22
please merge the latest fix

[2020-07-31 13:08] NorthernMan54 commented on #22
Published on NPM, please update and try again

[2020-07-31 13:09] #18 closed

[2020-07-31 13:09] #20 closed

[2020-07-31 13:09] #19 closed

[2020-07-31 13:27] moibensa commented on #22
Working now. Thanks!

[2020-07-31 13:27] #22 closed

[2020-08-26 04:36] nickk024 opened #24 "some inputs not detected"
Has been working well for what I need, but it doesn't seem to get any of the AV inputs that are available on my Yamaha RX-V573. It only gets the HDMI inputs, Airplay, NET RADIO, and TUNER. Is there any way to get one of the AV inputs to show up under my TV device?

[2020-08-29 16:41] NorthernMan54 commented on #24
Did you look under settings / inputs ?  With mine I can select which inputs I want to appear

[2020-08-29 16:56] nickk024 commented on #24
I did, unfortunately they do not show up there

Sent from my iPhone

[2020-08-30 03:30] NorthernMan54 commented on #24
In the Home app under settings for the receiver?

![B6667EED-54C6-4BC8-9B9D-29493F6A7813](https://user-images.githubusercontent.com/19808920/91650595-8309e080-ea4f-11ea-9dbc-f3e06fd90a3d.png)

[2020-09-26 12:46] #24 closed

[2020-09-26 12:47] #17 closed

[2020-09-26 12:47] #16 closed

[2020-10-02 00:23] NaterDawg opened #25 "Manual IP Address"
Would it be possible to add manual IP address to config. Bonjour is not detecting my Yamaha RX-A2020. Other homebridge yamaha plug-in that sets up as a fan finds my receiver based off of IP address I provide in the config, but would rather it be added as a TV control in homekit.

Thank you!

[2020-10-02 20:38] NorthernMan54 commented on #25
And idea as to why discovery doesn’t work?  If you install the Discovery iOS app ( mdns / bonjour browser ) does it find the receiver as a HTTP / World Wide Web service?

[2020-10-06 22:04] NaterDawg commented on #25
It does not show up under HTTP / World Wide Web. The only category I can find any reference to the RX-A2020 is in the Remote Audio Output Protocol (AirTunes)

[2020-10-10 17:19] NorthernMan54 commented on #25
Adding the IP address to the config will take some effort on my side.  give me a week or so.

Before adding this, can you confirm that this receiver has web based on control ?  ie if you type the IP address in to a browser you can see a web site that allows you to control the receiver?

[2020-10-20 22:16] NaterDawg commented on #25
It does have web based control. Thank you for looking into adding this.

[2020-10-31 14:45] NorthernMan54 commented on #25
If you update to the latest version it now supports manual addresses.

[2020-10-31 20:34] m0v1em4n opened #26 "Not really an issue, more of a request"
Hi,
First would like to say thanks for all your work on this plugin works a treat.

My request
I use a smart plug to switch the power off to my amp, but this mean I lose the connection to the plugin, when i reconnect the power I am have to restart Homebridge for it to reconnect, is there anything that could be done to make it reconnect when the power is reconnected

Thanks

[2020-11-07 01:31] NorthernMan54 commented on #26
Not sure what the issue is here.  I can unplug and plugin my receiver without issue.  Only issue is that if homebridge is restarted while the receiver is unplugged it will forget the receiver and homebridge must be restarted for it to work again ( your experience )

If your Homebridge is not restarting it should not be an issue.

[2021-01-13 09:32] radic00l opened #27 ""Cannot read property '0' of undefined" for pre-MusicCast device, Yamaha DSP-Z7"
I'm getting an error that is preventing an older (pre-MusicCast) device from being added, i.e.
_1/13/2021, 10:38:28 AM Unhandled rejection TypeError: Cannot read property '0' of undefined_

My config is as follows

[code]

To give you more information:
- I'm adding 2 devices, a older generation DSP-Z7 and a MusicCast generation RX-A3060
- If I understand correctly, MusicCast devices are identified

[2021-01-16 14:13] NorthernMan54 commented on #27
Thanks for a very detailed issue

A couple of comments

1 - Without have access to the physical device, adding and troubleshooting support issues is close to impossible.  If you want to submit a pull request resolving the issue, I can merge it.

2 - Device Discovery - Yeah that is a bit of a wacky experience, and your correct the plugin does not handle the exclusion use case.   In this scenario yo

[2021-01-18 12:26] dot-notation commented on #27
Hey...

1. I'm not sure I'd know how to debug correctly... Is there any chance you'd be interested in trying to debug if I NAT the device to an open public port?
2. I was wondering what value of 0 would do? Does that effectively disable it, or does it make the timeout infinite?

[2021-01-18 14:53] NorthernMan54 commented on #27
1 - Not sure this would actually work out

2 - Give it a try and see what happens.  I'm thinking a really small value like 1 or .1

[2021-06-01 11:45] pssturges opened #28 "Not working for R-N602"
Have been successfully using this plugin with my RX-v683. I now also have an R-N602 . This will not connect with either auto discovery or manual ip. Log below. Thanks

`[01/06/2021, 9:37:50 pm] [yamaha-zone-tv] Possible Yamaha device discovered Lounge [ '192.168.0.44' ]
[01/06/2021, 9:37:50 pm] [yamaha-zone-tv] Possible Yamaha device discovered Livingroom [ '192.168.0.43' ]
[01/06/2021, 9:37:50 pm

[2021-06-01 15:16] NorthernMan54 commented on #28
The plugin leverages the website for each receiver as the interface that is used to control the receiver, does your new receiver have the same website as your old receiver ?

This website
![image](https://user-images.githubusercontent.com/19808920/120347975-bf15ee80-c2ca-11eb-98e1-9bd25278e7e5.png)

[2021-06-01 21:57] pssturges commented on #28
Thanks for the response.

Yes and no. It has the website, but only has the settings page. It doesn’t have the controller page as shown above.

So your plugin doesn’t use the API?
https://community-openhab-org.s3-eu-central-1.amazonaws.com/original/2X/9/931ea88e30cf0f05fcdee79816eb4d3f12dd4d70.pdf

This seems to be fully functional on my R-N602

[2021-06-02 00:12] NorthernMan54 commented on #28
Correct, this plugin uses the website

[2022-03-13 03:01] iSteve-O opened #29 "Device Disappearing From Other Devices After A While"
I am having an issue where the device will appear fine on all devices, and then in the home app on my iPhone it will be fine but does not appear in my home on the iPad or MacBook after a while. I was able to fix this before by deleting the device and adding it again but this is not convenient because all scenes and automations need to be redone afterward.

I hope there's a fix for this. Thanks for

[2022-03-13 13:18] NorthernMan54 commented on #29
To be honest I have no clue what would cause this. Is this your only Homebridge device ?

Is it possibly a flavour of this ?

https://github.com/NorthernMan54/homebridge-yamaha-home/issues/41

[2022-03-16 05:41] iSteve-O commented on #29
Yeah it is a strange issue for sure. I have many devices in homebridge, including "TVs" through this plugin, 1 Bravia TV & 2 through Broadlink ("Cable Box" +Speaker & "Yamaha IR" +Speaker -screenshot below).

The only one that ever does this is the device on this Yamaha-zone plugin, but I can see it just fine on my Macs, iPhone & iPad, and it works perfectly on all of them right after adding it, a

[2022-03-16 23:58] NorthernMan54 commented on #29
Are there any error messages logged by Homebridge ?

What I'm hypothesizing is a minor issue with the plugin's definition of this device or a data value from the device that causes the Home App on your 2016 MacBook Pro to not display the device.  The Home app is pretty rigid around what services a device can have, and does occasionally behave oddly when an unexpected value is received.

The trick

[2022-03-17 00:34] iSteve-O commented on #29
I just noticed that in the images above even though the device is showing on the 2015 MBP Home app it’s not showing up in the scenes because all the input scenes appear active (cable, Apple TV, PlayStation). That’s even stranger.

So, with no debug logging enabled, no, I’m getting no errors in the log at all, but they’d only be major ones. Can I enable debug logging for this plugin only, or do I n

[2022-03-17 00:41] NorthernMan54 commented on #29
I was thinking about these type of log messages, which are just logged, no additional settings or debug required.

[code]

If these were coming out, it would be an easy fix

[2022-03-17 00:53] iSteve-O commented on #29
No nothing at all like that. I just put HB in debug mode and restarted and I only get a few things that all look proper. I just changed inputs on the receiver while logging in HB also and no messages at all. all I get in the log is this...

`Publishing bridge accessory (name: Yamaha, publishInfo: {
  username: '0E:48:7D:4C:DF:27',
  port: 46640,
  pincode: '***-**-***',
  category: 2,
  bind: [ 'e